Screen {
	layout: horizontal;
}

.left {
	width: 50%;
	layout: vertical;
}

.map {
	height: 50%;
}

.logs {
	height: 50%;
}

.character {
	height: 100%;
	width: 50%;
}

.inp {
	height: 10%;
}

#hcenter {
    align: center middle;
}

#card {
    padding: 1 2;
    width: auto;
    height: auto;
}
